{{>include/header}}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#"><h4>OverDiary</h4></a>
            </li>
            <li class="breadcrumb-item active"><h4>랭킹</h4></li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <img src="/images/overdiary_icon.png" class="img-fluid" width="20%" height="20%"/> 상위 랭킹
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped"
                           style="border-color:#f99e1a;font-weight: bold">
                        <thead>
                        <tr style="background-color: black;color: white">
                            <th scope="col">순위</th>
                            <th scope="col">레벨</th>
                            <th scope="col">플레이어</th>
                            <th scope="col">경쟁전 점수</th>
                            <th scope="col">불탄시간</th>
                            <th scope="col">K/D</th>
                            <th scope="col">모스트 영웅</th>
                        </tr>
                        </thead>
                        <tbody class="bg-side">
                        {{#Rank}}
                        <tr class="col">
                            <td style="background-color: #f99e1a">{{rankKey}}</td>
                            <td style="background-color: #f99e1a">{{levels}}</td>
                            <td style="background-color: #f99e1a">{{players}}</td>
                            <td style="background-color: #f99e1a">{{scores}}</td>
                            <td style="background-color: #f99e1a">{{fireTimes}}</td>
                            <td style="background-color: #f99e1a">{{kds}}</td>
                            <td style="background-color: #f99e1a">{{mostHeroes}}</td>
                        </tr>
                        {{/Rank}}
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/js/sb-admin-datatables.min.js"></script>
    <script src="/js/od-rank.js"></script>
</div>


</body>

</html>
