{{>include/header}}
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Article Form</li>
        </ol>

        <div class="row">
            <div class="col-sm-12">
                <h1>Article Form <span class="badge badge-secondary">Tip</span>
                    <span class="badge badge-secondary">공략</span>
                    <span class="badge badge-secondary">후기</span>
                </h1>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-sm-1">
                <h4>File</h4>
            </div>
            <div class="col-sm-11">
                <form action="/api/attachments" method="post" enctype="multipart/form-data" id="file-upload-form">

                    <div class="input-group">
                        <div class="custom-file" id="fileUploadForm">
                            <input type="file" class="file" id="file-label" name="file">
                            <label class="custom-file-label" for="file-label">Choose file</label>
                        </div>

                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="file-upload-button" type="submit">UPLOAD
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <form class="article-form" method="post" action="/articles/create">
            <input id="filePath-hidden" name="hiddenPath" type="hidden" value="">
            <div class="row">
                <div class="col-sm-1">
                    <h4>Writer</h4>
                </div>
                <div class="col-sm-11">
                    <input type="text" class="form-control" placeholder="user name" aria-describedby="basic-addon1"
                           name="user">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-1">
                    <h4>Title</h4>
                </div>
                <div class="col-sm-11">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button"
                               name="title">
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-1">
                    <h4>Category</h4>
                </div>
                <div class="col-sm-11">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="article-label-choose" name="label">분류</label>
                        </div>
                        <select class="custom-select" id="article-label-choose" name="label">
                            <option selected>Choose...</option>
                            <option value="Tip">Tip</option>
                            <option value="Review">Review</option>
                            <option value="Strategy">Strategy</option>
                        </select>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-1">
                    <h4>contents</h4>
                </div>
                <div class="col-sm-11">
                    <div class="form-group mb-3">
                        <textarea class="form-control" name="contents" id="exampleFormControlTextarea1"
                                  rows="8"></textarea>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-1">
                    <h4>Status</h4>
                </div>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="openRange" value="true" id="public-range">
                        <label class="form-check-label" for="public-range">public</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="openRange" value="false" id="private-range">
                        <label class="form-check-label" for="private-range">private</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="form-check-label" for="private-range">(If you not choose, it will be public.)</label>
                </div>
            </div>
            <br/><br/><br/>
            <div class="row">
                <div class="col align-self-center">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Your Website 2018</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>
<script src="/js/sb-admin-article.js"></script>
</div>
</body>

</html>
